<div class="row">
    <div class="col-sm-9">
        <h2>
            <i class="fas fa-shipping-fast"></i>
        </h2>
        <h1><%= @restaurant[:title] %></h1>
        <p><%= @restaurant[:description] %></p>
        <% for post in @posts %>
            <% user = @users_table.where(:id => post[:user_id]).to_a[0] %>
            <div class="media">
                <% if post[:like] %>
                    <i class="fas fa-thumbs-up fa-3x mr-3"></i>
                <% else %>
                    <i class="fas fa-thumbs-down fa-3x mr-3"></i>
                <% end %>
                <div class="media-body">
                    <h5 class="mt-0"><%= user[:name] %></h5>
                    <%= post[:comments] %>
                </div>
            </div>
        <% end %>
        <p class="mt-5">
            <a href="/restaurants/<%= @restaurant[:id] %>/posts/new" class="btn btn-primary">Tell us if you liked it and comment!</a>
        </p>
    </div>
    <div class="col-sm-3">
        <h3>Phone Number</h3>
        <p><%= @restaurant[:phone] %></p>
        <h3>Where?</h3>
        <p><%= @restaurant[:location] %></p>
        <iframe
            width="600"
            height="450"
            frameborder="0"
            zoom="15" 
            style="border:0"
            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCtovsQvkIUWlNqtYwXY87gEd4ZSmJEhMw&q=<%= @lat_long %>&zoom=15" allowfullscreen>
        </iframe>
    </div>
</div>